.contruction {
    font-size: 30px;
    margin: 0 55px;
    line-height: 30px;
    text-align: center;
}

.mainPanel{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.imgConstruction {
    margin: 100px auto;
}

.visit{
    margin: 10px;
}